parameters:
    paths:
        - src
    level: 3
    excludePaths:
        - vendor
        - tests
        - src/Integration
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#on an unknown class#'
        - '#extends unknown class#'
